{% extends 'base.html' %}

{% import 'macros.html' as macros %}

{% import 'bootstrap/wtf.html' as wtf %}



{% block title %}
    {{ super() }}
    Bienvenido
{% endblock title %}



{% block content %}
    {% if username %}

        <h1>Bienvenido {{ username | capitalize }}</h1>    
    
    {% endif %}

    {% if user_ip %}
    <h4> Hello {{ current_user.id }}, tu ip es {{ user_ip }}</h4>
    {% else %}
    <a href="{{ url_for('index') }}">Ir a ainicio</a>
    {% endif %}

        <div class="container">
            <h4>Create yout todo</h4>
            {{ wtf.quick_form(todo_form) }}
        </div>

        <div class="container mt-3" >
            <ul class="list-group list-group-flush">
                {% for item in  todos %}
                    {{ macros.render_todo (item, delete_todo) }}
                {% endfor %}
            </ul> 
        </div>          
    
    
{% endblock content %}
